 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mais sobre mim</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Olá, tudo bem? me chamo José Cosme, mas todos me chamam apenas de Cosme, por muito tempo trabalhei como Técnico em Eletronica de radio e televisão.</p>
                </div>
                <div class="col-lg-4">
                    <p>Infelizmente esse mercado já não está tão bom, e hoje tenho trabalhado com manutenção de redes eletricas, quadros bifásico e trifásico, colocação de pisos e pequenos trabalhos que envolvam pinturas. Faço contrato de serviço autônomo, para pequenas empresas.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>